html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

response {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

response > id {
  font-weight: bold;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

response > message {
  margin-block-start: 1em;
  margin-block-end: 1em;
}